*{
    font-family: 'Nanum Pen Script', cursive;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: black;
    margin: 0px;
    padding: 0px;

}
.bcg{
    background: #B61159;
}
.mytitle{
    background-color: #800080;
            height: 180px;
            text-align: center;
            border-radius: 10px;
            font-size: 30px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
}
.nav{
    font-size: 30px;
    display: flex;

}
.nav > li{
    margin-left: 60px;
}
.nav2{
    display: flex;
    margin-left: 60px;
}
.nav2 > li{
    margin-left: 50px;
}

.mtwine{
    text-align: center;
    font-size: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #B61159;
}
.winecard{
    width: 90%;

    display: flex;

}
.card-body{
    font-size: 20px;
    margin-left: 150px;
}
.card-text{
    font-size: 25px;
}
.wine_ex{
    font-size: 20px;
}
.searchArea{
    width: 800px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}
.searchArea > form > input{
    width: 600px;
    height: 40px;
    padding-left: 10px;
    justify-content: center;
}
.searchArea > form > span{
    height: 300px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.card {
    width: 33%;
    float: left;

}

.cardimg{
    text-align: center;

}
.table{
    width: 100%;
    border: 1px solid black
}
.table > tr{
    background-color:lightgrey
    border: 1px solid black
}